<main>
    <div class="card">
        <header>
            <p>Créez un compte</p>
        </header>

        <section>
            <form class="inscriptionform" [formGroup]="form">

                <label for="userName" class="block text-900 font-medium mb-2">Identifiant</label>
                <input id="userName" formControlName="username" type="text" pInputText class="w-full mb-3" />

                <label for="email" class="block text-900 font-medium mb-2">Email</label>
                <input id="email" type="email" formControlName="email" pInputText class="w-full mb-3" />

                <label for="password" class="block text-900 font-medium mb-2">Mot de passe</label>
                <input id="password" type="password" formControlName="password" pInputText class="w-full mb-3" required
                    minlength="6" maxlength="20" />

            </form>
            <!-- bouton valider-->
            <article class="btn">
                <button id="btnin" pButton pRipple type="submit" (click)="onSubmit()" class="p-button-raised">
                    S'inscrire
                </button>

            </article>
        </section>
    </div>
</main>